# Virtual environments
.venv/
venv/
env/

# Datasets
pa0/data/
*.tar.gz

# Model weights / checkpoints
*.pth
*.pt
*.ckpt
*.safetensors

# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/
.pytest_cache/

# Notebooks
.ipynb_checkpoints/

# OS
.DS_Store
